
.btn-custom {
    height:120px !important;
    width:120px !important;
    margin-top:10px;
}

.application-wrapper {
    text-align:center;
    margin-top:3% !important;
    position:relative;
}

.item-label {
    font-size:1.5em !important;
    color:rgba(255,255,255,1);
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
    text-transform:capitalize;
}

.category-img {
}

.next-custom {
    margin-top:50px !important;
    margin-left:50%;
}

#category_selection_area {
    height:100vh;
    width:100%;
    float:left;
}

#item_selection_area {
    height:100vh;
}

body {
    background-color: #ced4c9; 
    overflow-y:hidden;
    overflow-x:show;
}

#phase {
    border:2px solid black;
    width:100% !important;
    position:absolute;
    top:0px;
}

#phase{
}

#phase item_area {
        left:100%;
}

.phase {
    border:2px solid black;
    
    position:absolute;
    top:0px;
    height:100vh !important;
    width:100%;
    clear:both;
    margin-right:auto;
    margin-left:auto;
}

#category_area {
    left:0px;
}

#item_area {
    left:100%;
}
